@model System.Data.DataTable
@{ViewData["Title"]="Lista de Platillos";}
<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<table class="table table-bordered"> 
    <thead class="thead-light">
        <tr>
            <th>Nombre Platillo</th>
            <th>Precio Platilo</th>
            <th>Descripcion Platillo</th>
            <th>
                <a asp-action="Crear"  class="btn btn-success" type="button">Crear platillo</a>
            </th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i]["nombrePlatillo"]</td>
            <td>@Model.Rows[i]["precioPlatillo"]</td>
            <td>@Model.Rows[i]["descripcionPlatillo"]</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a asp-action="Editar" asp-route-Id='@Model.Rows[i]["idPlatillo"]' class="btn btn-primary" type="button">Editar</a>
                    <a  asp-action="Eliminar" asp-route-Id='@Model.Rows[i]["idPlatillo"]' class="btn btn-danger" type="button">Eliminar</a>
                </div>
            </td>
        </tr>
    }
</tbody>
</table>